.App {
  background-position: center;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #cc0000 !important;
  position: fixed;
  top: 0;
}

body {
  background-color: transparent !important;
}

.form-control {
  color: rgb(59, 58, 58);
  width: 110%;
}

.inputs {
  grid-row-gap: 1rem;
  row-gap: 1rem;
  grid-column-gap: 0.5rem;
  -webkit-column-gap: 1rem;
  column-gap: 0.5rem;
}
